# Task1

In [174]:
import dropbox
import argparse
import pandas as pd
import numpy as np
from io import StringIO
from datetime import date, datetime, timedelta
import random

In [40]:
TOKEN = 'sl.BPmO48sPdzRkjxjnX4S4IkFGWtSkoksZB4pOcJKYrF7HyitcdK1UWuNsDsqzgqICGuzZQ_0eGFZ5xz80z5oBs5ZQzapzqyZWplg9Vpqs0O9_yJCXYuDbuk7UiotAa83if39Hx3uE'
dbx = dropbox.Dropbox(TOKEN)
#download file
md, res = dbx.files_download('/recruitment_project_2/enroll_data.csv')

In [214]:
#read byte to string
s = str(res.content, 'utf-8')
data = StringIO(s)
#load string to dataframe
df = pd.read_csv(data)

In [215]:
df.head()

  site ID date of consent cohort  birth date
0     BWH        1/1/2020    CHR  1990-01-01
1     BWH        1/2/2020    CHR  1989-01-02
2     BWH        1/2/2020     HC  1998-01-03
3     BWH        1/2/2020     HC  1987-01-04
4     BWH        1/2/2020    CHR  1986-01-05

In [225]:
# find the ages of participant at date of consent

# transfer string columns (birthday and DoC) to datetime
birthd = pd.to_datetime(df['birth date'], format = '%Y-%m-%d')
constd = pd.to_datetime(df['date of consent'], format = '%m/%d/%Y')

# age in number of days at consent
age_in_days = (constd - birthd).dt.days
# age in years (i.e. 36.5 years old -> 36 years old)
df['age'] = np.floor(age_in_days / 365).astype(int)

df = df.drop('birth date', axis = 1)

In [227]:
# disguise date of conset

today = datetime.today()
strt_day = pd.to_datetime('1925-01-01')

# diff in days between 1925-01-01 and today
diff_days = (today - strt_day).days

# randomize num of days offset
days_offset = []
for i in range(0, df.shape[0]):
    days_offset += [random.randint(0, 30000) + diff_days]
    
# store days offset as dataframe
offset_df = pd.DataFrame(days_offset, columns = ['days_offset'])

# create a new column for DoC by finding number of days (offset) before today
df['date of consent'] = today - offset_df.days_offset.apply(lambda x: timedelta(x))
df['date of consent'] = pd.to_datetime(df['date of consent']).dt.strftime('%-m/%-d/%Y')

In [228]:
df

     site ID date of consent cohort  age
0        BWH      11/27/1915    CHR   30
1        BWH      12/31/1906    CHR   31
2        BWH       2/20/1856     HC   22
3        BWH       7/20/1903     HC   33
4        BWH      10/29/1873    CHR   34
...      ...             ...    ...  ...
7941     PNC       5/30/1897    CHR   21
7942     PNC       3/18/1917     HC   32
7943     PNC      10/16/1896    CHR   33
7944     PNC       1/28/1858    CHR   24
7945     PNC       8/28/1847    CHR   35

[7946 rows x 4 columns]

In [231]:
offset_df

      days_offset
0           39014
1           42267
2           60843
3           43527
4           54382
...           ...
7941        45768
7942        38537
7943        45994
7944        60135
7945        63941

[7946 rows x 1 columns]

# Task 2

In [2]:
import pandas as pd
import nibabel